<div class="summaryHeadingContainer">
  <h1 class="summaryHeading">Shipping Info</h1>
</div>
<div class="summaryGrouping">
  <p class="summaryItem">Full Name: {{fullName}}</p>
  <p class="summaryItem">Address: {{address}}</p>
  <p class="summaryItem">City: {{city}}</p>
</div>
<div class="summaryGrouping">
  <p class="summaryItem">State: {{state}}</p>
  <p class="summaryItem">ZIP: {{zip}}</p>
</div>
